target/
bin/
node_modules/
test-output/
license/
dependency-reduced-pom.xml
.settings/
.project
.classpath
javaClientId-tcplocalhost*
javaSimpleEdgeNode-tcplocalhost*
*.o
sparkplug_example
.DS_Store
.pydevproject
*.pyc
*-tcp*
pom.xml.versionsBackup
